@use '../abstracts/' as *;

#root {
  height: 100vh;
}

html {
  background-color: $color-background;
}

.main-container {
  display: flex;
  height: 100vh;
  padding-top: 24px;
  padding-right: 24px;
  background-color: $color-background;
}

.content-container {
  margin-left: 254px;
  flex: 1;
}