@use '../abstracts/' as *;

.back-button {
  height: 32px;
  border-radius: 20px;
  background-color: $color-button-primary;
  text-transform: none;
  font-size: 14px;
  font-family: $font-primary-medium;
  color: $color-btnText-primary;
  margin-right: 10px;
  padding-right: 16px;

  &:hover {
    background-color: $color-btnHover-primary;
    color: $color-btnTextHover-primary;

    .back-button-icon {
      color: $color-btnTextHover-primary;
    }
  }
}

.back-button-icon {
  height: 24px;
  width: 24px;
  color: $color-btnText-primary;
}

.button-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-primary {
  border-radius: 50px;
  padding: 16px 55px;
  background-color: $color-button-primary;
  text-transform: none;
  font-family: $font-primary-bold;
  color: $color-btnText-primary;
  font-size: 16px;

  &:hover {
    background-color: $color-btnHover-primary;
    color: $color-btnTextHover-primary;
  }

  &--small {
    height: 40px;
  }

  &--medium {
    height: 55px;
  }

  &--fullWidth {
    width: 100%;
  }
}

.button-secondary {
  border-radius: 50px;
  padding: 16px 55px;
  background-color: $color-button-secondary;
  border: 1px solid $color-btnBorder-secondary;
  text-transform: none;
  font-family: $font-primary-bold;
  color: $color-btnText-secondary;
  font-size: 16px;

  &:hover {
    background-color: $color-btnHover-secondary;
    color: $color-btnTextHover-secondary;
  }

  &--small {
    height: 40px;
  }

  &--medium {
    height: 55px;
  }

  &--fullWidth {
    width: 100%;
  }
}

.button-margin-top {
  margin-top: 8px;
}

.button-marginTop {
  margin-top: 60px;
}

.button-align-center {
  display: block;
  margin: 32px auto 0 auto;
}

.button-icon {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.date-picker-button {
  height: 24px;
  width: 24px;
}