/*====================================================================*/
/*  Fonts
/*====================================================================*/

$font-primary-regular: 'Roboto-Regular', 'sans-serif';
$font-primary-light: 'Roboto-Light', 'sans-serif';
$font-primary-medium: 'Roboto-Medium', 'sans-serif';
$font-primary-bold: 'Roboto-Bold', 'sans-serif';

/*====================================================================*/
/*  Colors
/*====================================================================*/

$color-button-primary: #831A0C;
$color-btnHover-primary: #FBC3BC;
$color-btnDisabled-primary: #FFE3E0;
$color-btnText-primary: #FFFFFF;
$color-btnTextHover-primary: #831A0C;
$color-btnTextDisable-primary: #FFFFFF;

$color-button-secondary: #FFFFFF;
$color-btnBorder-secondary: #831A0C;
$color-btnHover-secondary: #FBC3BC;
$color-btnDisabled-secondary: #FFE3E0;
$color-btnText-secondary: #831A0C;
$color-btnTextHover-secondary: #831A0C;
$color-btnTextDisable-secondary: #831A0C;

$color-text-primary: #000000;
$color-app-logo: #831A0C;

$color-tableHeader: #E9ECEF;
$color-tableBorder: #CED4DA;
$color-table-text: #000000;

$color-sidebar-border: #CED4DA;
$color-sidebar-bg: #FFFFFF;
$color-sidebar-selected: #831A0C;
$color-sidebar-text: #831A0C;
$color-sidebar-textSelected: #FFFFFF;
$color-sidebar-icon: #831A0C;
$color-sidebar-iconSelected: #FFFFFF;
$color-sidebar-hover: #FFE3E0;
$color-sidebar-textHover: #831A0C;
$color-sidebar-iconHover: #831A0C;

$color-header-bg: #FFFFFF;
$color-header-border: #CED4DA;
$color-header-text: #000000;

$color-card-bg: #FFFFFF;
$color-card-border: #CED4DA;
$color-card-text: #000000;

$color-background: #E9ECEF;

$color-datePicker-border: #831A0C;
$color-datePicker-text: #831A0C;

$color-progressBar-bg1: #831A0C;
$color-progressBar-bg2: #FFE3E0;
$color-listPagination-border: #CED4DA;
$color-listPagination-borderHover: #831A0C;
$color-listPagination-text: #CED4DA;
$color-listPagination-textHover: #831A0C;
$color-listPagination-bgSelected: #831A0C;
$color-listPagination-bgSHover: #FFE3E0;
$color-listPagination-textSelected: #FFFFFF;

$color-modal-border: #CED4DA;
$color-modal-icon: #831A0C;
$color-modal-btnHover: #FFE3E0;
$color-modal-iconHover: #831A0C;

$color-input-border: #CED4DA;
$color-input-label: #000000;
$color-input-focus: #831A0C;
$color-input-optionBgHover: #FFE3E0;
$color-input-textHover: #831A0C;
